# Machine Learning Model (Support Vector Machine)

In [1]:
import os

In [2]:
os.getcwd()

'C:\\Users\\Dell\\Machine Learning Model'

In [3]:
os.chdir('C:\\Users\\Dell')

In [4]:
os.getcwd()

'C:\\Users\\Dell'

In [5]:
import numpy as np
import pandas as pd

In [6]:
heart=pd.read_csv("Heart.csv")
heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

# Step 1

In [7]:
X=heart.drop(columns=["target"])

In [8]:
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [9]:
y=heart["target"]

In [11]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

# Rules

In [13]:
X.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
dtype: object

In [14]:
type(X)

pandas.core.frame.DataFrame

In [15]:
X.shape

(303, 13)

In [16]:
heart.isna().sum()                  #There should be no Null values in Feature and Target variables.

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

# Step 2

In [57]:
from sklearn.model_selection import train_test_split

In [58]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0,stratify=y)

# Always Do Scaling and Normalize after Step 2 (i.e Splitting the dataset)

# Scaling Method

In [59]:
from sklearn.preprocessing import StandardScaler

In [60]:
SS=StandardScaler()

In [61]:
X_scaled_train=SS.fit_transform(X_train)                    #Array

In [62]:
X_scaled_train=pd.DataFrame(X_scaled_train)                 #Converting to DataFrame

In [63]:
X_scaled_train.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,-0.259285,0.650245,-0.941474,-0.391761,-0.673148,-0.459814,0.886939,0.809510,-0.679757,-0.034759,0.972535,1.219068,1.107708
1,-0.149568,0.650245,-0.941474,0.464459,-0.865794,2.174794,-1.012364,0.249096,1.471115,1.785819,-2.199426,-0.702437,1.107708
2,-1.685611,-1.537881,0.996317,-2.161282,-0.951414,-0.459814,0.886939,1.283707,-0.679757,-0.901702,0.972535,-0.702437,-0.489803
3,1.167041,-1.537881,0.996317,1.606086,2.494798,-0.459814,-1.012364,0.076660,-0.679757,-0.208148,0.972535,-0.702437,-0.489803
4,0.289302,-1.537881,-0.941474,-0.220517,1.274711,-0.459814,-1.012364,0.421531,-0.679757,-0.901702,0.972535,0.258316,-0.489803

In [64]:
X_scaled_test=SS.transform(X_test)                          #Array

In [65]:
X_scaled_test=pd.DataFrame(X_scaled_test)                   #Converting to DataFrame

In [66]:
X_scaled_test.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.947606,0.650245,-0.941474,0.464459,-1.208274,-0.459814,-1.012364,-0.225101,1.471115,2.566067,0.972535,1.219068,1.107708
1,-2.782785,0.650245,0.027422,-0.106354,-0.844389,-0.459814,-1.012364,2.275209,-0.679757,-0.901702,0.972535,-0.702437,-0.489803
2,1.057324,-1.537881,-0.941474,2.747712,1.745622,-0.459814,0.886939,0.205987,1.471115,-0.901702,0.972535,-0.702437,-0.489803
3,1.057324,-1.537881,0.996317,0.464459,1.488761,-0.459814,0.886939,-0.699298,-0.679757,-0.728313,0.972535,-0.702437,1.107708
4,-1.027307,0.650245,-0.941474,-1.590469,-0.758768,-0.459814,-1.012364,-0.052666,1.471115,1.699125,-0.613445,-0.702437,-0.489803

# Normalize

In [67]:
from sklearn.preprocessing import normalize

In [68]:
X_normalized_train=normalize(X_scaled_train)                       #Array

In [69]:
X_normalized_train=pd.DataFrame(X_normalized_train)                #Converting to DataFrame

In [70]:
X_normalized_train.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,-0.093086,0.233444,-0.337998,-0.140646,-0.241667,-0.165078,0.318420,0.290622,-0.244039,-0.012479,0.349150,0.437657,0.397678
1,-0.033424,0.145309,-0.210390,0.103792,-0.193478,0.485998,-0.226231,0.055665,0.328748,0.399074,-0.491502,-0.156972,0.247538
2,-0.404378,-0.368937,0.239016,-0.518491,-0.228244,-0.110309,0.212776,0.307961,-0.163073,-0.216318,0.233311,-0.168514,-0.117504
3,0.283466,-0.373541,0.241999,0.390107,0.605970,-0.111686,-0.245897,0.018620,-0.165108,-0.050558,0.236222,-0.170617,-0.118970
4,0.096702,-0.514050,-0.314696,-0.073710,0.426083,-0.153697,-0.338391,0.140900,-0.227214,-0.301401,0.325078,0.086344,-0.163721

In [71]:
X_normalized_test=normalize(X_scaled_test)                        #Array

In [72]:
X_normalized_test=pd.DataFrame(X_normalized_test)                 #Converting to DataFrame

In [73]:
X_normalized_test.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.226021,0.155095,-0.224558,0.110781,-0.288194,-0.109674,-0.241466,-0.053691,0.350886,0.612051,0.231966,0.290769,0.264208
1,-0.651241,0.152174,0.006417,-0.024890,-0.197608,-0.107608,-0.236919,0.532456,-0.159080,-0.211021,0.227598,-0.164388,-0.114626
2,0.232599,-0.338315,-0.207113,0.604464,0.384016,-0.101153,0.195116,0.045315,0.323628,-0.198363,0.213946,-0.154528,-0.107751
3,0.304543,-0.442959,0.286971,0.133779,0.428811,-0.132441,0.255467,-0.201420,-0.195791,-0.209777,0.280121,-0.202324,0.319055
4,-0.286361,0.181256,-0.262435,-0.443342,-0.211506,-0.128173,-0.282196,-0.014681,0.410073,0.473630,-0.170998,-0.195804,-0.136532

# Step 3

In [74]:
from sklearn.svm import SVC

In [75]:
svc=SVC(kernel="rbf",degree=3)                           #kernel="rbf","poly","linear","sigmoid"          degree=2,3,4

In [76]:
svc.fit(X_normalized_train,y_train)

C:\Users\Dell\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='rbf', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

# Step 4

# Evaluate

In [77]:
svc.score(X_normalized_test,y_test)

0.8791208791208791

# Predict

In [78]:
svc.predict(X_normalized_test)

array([0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0,
       1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1,
       0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0,
       0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0,
       0, 1, 0], dtype=int64)